body {
  background: #2e3035;
}

.navbar {
  background: #171844;
}

.navbar-brand img {
  width: 70%;
}

.card .card-header {
  background: linear-gradient(45deg, rgba(23,24,68,1) 20%, rgba(182,182,182,1) 80%);
}